---
- name: Deploy Datadog Agent on Windows
  hosts: windows_servers
  gather_facts: yes
  vars:
    datadog_api_key: "{{ datadog_api_key }}"
    datadog_site: "{{ datadog_site | default('datadoghq.com') }}"
    environment_name: "{{ environment }}"

  tasks:
    - name: Download Datadog Agent installer
      win_get_url:
        url: https://s3.amazonaws.com/ddagent-windows-stable/datadog-agent-7-latest.amd64.msi
        dest: C:\Windows\Temp\datadog-agent.msi
        validate_certs: yes

    - name: Install Datadog Agent
      win_package:
        path: C:\Windows\Temp\datadog-agent.msi
        product_id: '{82D48FAF-63B3-4F25-9B0E-E1734F4080DB}'
        arguments:
          - APIKEY={{ datadog_api_key }}
          - SITE={{ datadog_site }}
          - TAGS="env:{{ environment_name }},os:windows,managed_by:ansible"
        state: present

    - name: Ensure Datadog Agent service is running
      win_service:
        name: datadogagent
        state: started
        start_mode: auto

    - name: Wait for Datadog Agent to start
      win_wait_for:
        timeout: 30
      changed_when: false

    - name: Get Datadog Agent status
      win_shell: |
        & "C:\Program Files\Datadog\Datadog Agent\bin\agent.exe" status
      register: agent_status
      changed_when: false
      failed_when: false

    - name: Display Datadog Agent status
      debug:
        var: agent_status.stdout_lines
      when: agent_status.rc == 0
